openapi: 3.0.0
info:
  title: Random Facts Quiz API
  description: This API interfaces with the Open Trivia Database to retrieve trivia questions for quiz applications. Users can request questions by quantity and type, receiving them in a standardized JSON format.
  version: "1.0"
servers:
  - url: https://opentdb.com
    description: Open Trivia Database API for fetching quiz questions
paths:
  /api.php:
    get:
      summary: Fetch quiz questions
      description: Obtains trivia questions based on specified amount and type, such as boolean or multiple-choice.
      parameters:
        - in: query
          name: amount
          schema:
            type: integer
          required: true
          description: Number of questions to fetch
        - in: query
          name: type
          schema:
            type: string
            enum: [boolean, multiple]
          description: Type of questions
      responses:
        '200':
          description: A JSON array of questions
          content:
            application/json:
              schema:
                type: object
                properties:
                  response_code:
                    type: integer
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/Question'
        '400':
          description: Bad request. The specified amount is out of the accepted range.
  /login:
    post:
      summary: Log in an existing user (hypothetical)
      servers:
        - url: http://localhost:8501
          description: Streamlit App Local Server for user management (hypothetical)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '200':
          description: User successfully logged in
        '401':
          description: Unauthorized, such as if the password is incorrect
  /register:
    post:
      summary: Register a new user (hypothetical)
      servers:
        - url: http://localhost:8501
          description: Streamlit App Local Server for user management (hypothetical)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
      responses:
        '201':
          description: User successfully registered
        '400':
          description: Bad request, such as if the user already exists
components:
  schemas:
    Question:
      type: object
      properties:
        category:
          type: string
        type:
          type: string
        difficulty:
          type: string
        question:
          type: string
        correct_answer:
          type: string
        incorrect_answers:
          type: array
          items:
            type: string
    User:
      type: object
      required:
        - username
        - password
      properties:
        username:
          type: string
        password:
          type: string
